@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --main-color1: #0d265d;
    --main-color2: #21496b;
    --light-green: #d3f4ff;
    --light-blue: #c6ddf1;
    --black: #444;
    --white: #fff;
    --green: green;
    --border: .1rem solid var(--main-color1);
    --box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 1);
}

* {
    font-family: 'DM Sans', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background-color: var(--main-color1);
}

section {
    padding: 5rem 7%;
}

.heading {
    position: relative;
    color: var(--main-color1);
    font-size: 3rem;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: .4rem;
    text-align: center;
    margin-bottom: 3rem;
}

.heading::after {
    content: url(../images/separator.svg);
    display: block;
    width: 10rem;
    margin-inline: auto;
    margin-top: -1rem;
}

.btn {
    display: inline-block;
    font-weight: 700;
    padding: 1rem 2rem;
    background-color: var(--main-color2); 
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 50px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-transform: none;
  }
  
  .btn:hover {
    background-color: var(--main-color1);
  }
  
.shine::after {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 50%;
    height: 100%;
    background-image: linear-gradient(to right, transparent 0%, #fff6 100%);
    transform: skewX(-0.08turn) translateX(-180%);
}

.shine:is(:hover, :focus-within)::after{
    transform: skewX(-0.08turn) translateX(275%);
    transition: 1000ms ease;
}

/* Header starts here */

.header {
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    background: var(--white);
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 9%;
}



.logo {
    width: 190px;
    height: auto;
  }
  
.header .navbar a {
    font-size: 1.7rem;
    color: var(--black);
    margin: 0 1rem;
}

.header .navbar a:hover {
    color: var(--main-color1);
}

.header .icons div {
    font-size: 2.5rem;
    margin-left: 1.7rem;
    color: var(--black);
    cursor: pointer;
}

.header .icons div:hover {
    color: var(--main-color1);
}

#menu-btn {
    display: none;
}

.header .login-form {
    position: absolute;
    top: 115%; right: -105%;
    background: var(--white);
    box-shadow: .5rem;
    width: 35rem;
    box-shadow: var(--box-shadow);
    padding: 2rem;
}

.header .login-form.active {
    right: 2rem;
    transition: .4s linear;
}

.header .login-form h3 {
    font-size: 2.2rem;
    color: var(--black);
    text-align: center;
    margin-bottom: .7rem;
    text-transform: none;
}

.header .login-form .box {
    font-size: 1.5rem;
    margin: .7rem 0;
    border: .1rem solid rgba(0, 0, 0, 1);
    padding: 1rem 1.2rem;
    color: var(--black);
    text-transform: none;
    width: 100%;
}

.header .login-form .remember {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin: .7rem 0;
}

.header .login-form .remember label {
    font-size: 1.5rem;
    color: var(--black);
    cursor: pointer;
    text-transform: none;
}

/* Language Dropdown (CSS Only) starts here */

/* Contêiner principal do dropdown */
.language-dropdown {
  position: relative; /* Essencial para posicionar o menu dropdown */
  display: inline-block;
  margin-right: 1.5rem;
}

/* O botão (tag <summary>) */
.language-button {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  color: var(--black);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  list-style: none; /* Remove a seta/marcador padrão do <summary> */
}

/* Remove a seta padrão no Chrome/Safari */
.language-button::-webkit-details-marker {
  display: none;
}

.language-button:hover {
  background: #f0f0f0;
}

/* Ícone de seta dentro do botão */
.language-button .fas {
  font-size: 1.2rem;
  transition: transform 0.3s ease;
}

/* Gira a seta quando o menu está aberto */
.language-dropdown[open] > .language-button .fas {
  transform: rotate(180deg);
}

/* O conteúdo do dropdown */
.dropdown-content {
  position: absolute;
  right: 0;
  top: 110%; /* Posição logo abaixo do botão */
  background-color: var(--white);
  min-width: 120px;
  box-shadow: var(--box-shadow);
  z-index: 1;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid #eee; /* Borda sutil para melhor visualização */
}

/* Links dentro do dropdown */
.dropdown-content a {
  color: var(--black);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 1.5rem;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
  color: var(--main-color1);
}

/* Language Dropdown ends here */

/* Header ends here */


/* Home starts here */

.home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(../images/home.png);
    background-size: cover;
    background-position: center;
}

.home .content {
    max-width: 50rem;    
}

.home .content h2 {
    font-size: 2rem;
    color: var(--white);
    text-transform: none;
    line-height: 1.2;
}

.home .content h3 {
    font-size: 5rem;
    color: var(--white);
    text-transform: none;
    line-height: 1.2;
}

.home .content p {
    font-size: 1.5rem;
    line-height: 2;
    color: var(--white);
    padding: 1rem 0;
    text-transform: none;
}

p i.fa-star,
p i.fa-star-half-stroke {
  color: #f5c518; /* amarelo-dourado */
  font-size: 1.6rem;
  margin: 0 2px;
}


/* Home ends here */


/* HomeMalta starts here */

.malta {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(../images/homemalta.png);
    background-size: cover;
    background-position: center;
}

.malta .content {
    max-width: 50rem;
    padding-bottom: 25rem;    
}

.malta .content h2 {
    font-size: 2rem;
    color: var(--white);
    text-transform: none;
    line-height: 1.2;
}

.malta .content h3 {
    font-size: 5rem;
    color: var(--white);
    text-transform: none;
    line-height: 1.2;
}

.malta .content p {
    font-size: 1.5rem;
    line-height: 2;
    color: var(--white);
    padding: 1rem 0;
    text-transform: none;
}


/* HomeMalta ends here */


/* About starts here */

.about .container {
    display: flex;
    flex-wrap: wrap;
}

.about .container .about-image {
    position: relative;
    flex: 1 1 40rem;
}

.about .container .about-image .img1 {
    width: 100%;
    height: auto; 
  object-fit: cover;
}

.about .container .about-image .about-img {
    position: absolute;
    bottom: -10rem;
    right: -1rem;
    width: 25rem;
    padding-block: 5rem;
}

.about .container .about-content {
    flex: 1 1 50rem;
    padding-left: 6rem;
    padding-top: 6rem;
}

.about .container .about-content h3 {
    font-size: 3rem;
    color: var(--main-color1);
    text-transform: none;
}

.about .container .about-content p {
    font-size: 1.6rem;
    color: var(--black);
    padding: 1rem 0;
    line-height: 1.8;
    text-transform: none;
}

/* About ends here */

/* Services starts here */

.services .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
}

.services .box-container .box {
    padding: 3rem 2rem;
    text-align: center;
    border: .1rem solid var(--main-color1);
    background: var(--light-green);
}

.services .box-container .box img {
    height: 10rem;
    margin-bottom: .7rem;
}

.services .box-container .box h3 {
    font-size: 1.7rem;
    color: var(--black);
    padding: .5rem 0;
    text-transform: none;
}

.services .box-container .box p {
    font-size: 1.5rem;
    line-height: 2;
    color: var(--black);
    text-transform: none;
}

.load-more {
  text-align: center;
  margin: 40px 0;
}

#loadMoreBtn {
  background-color: #003366; /* cor principal */
  color: white;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 28px;
  cursor: pointer;
  transition: 0.3s ease;
}

#loadMoreBtn:hover {
  background-color: #0055a5;
  transform: scale(1.1);
}

.price {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}

.old-price {
  text-decoration: line-through;
  color: #999;
  font-size: 15px;
}

.new-price {
  color: var(--main-color1);
  font-weight: 700;
  font-size: 18px;
}

.discount {
  background-color: #ff3b3b;
  color: white;
  font-weight: bold;
  padding: 3px 8px;
  border-radius: 6px;
  font-size: 13px;
}


/* Services ends here */

/* Services-user starts here */

.services-user {
    margin-top: 100px;
}

.services-user .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
    margin-bottom: 20px;
}

.services-user .box-container .box {
    padding: 3rem 2rem;
    text-align: center;
    border: .1rem solid var(--main-color1);
    background: var(--light-green);
}

.services-user .box-container .box img {
    height: 10rem;
    margin-bottom: .7rem;
}

.services-user .box-container .box h3 {
    font-size: 1.7rem;
    color: var(--black);
    padding: .5rem 0;
    text-transform: none;
}

.services-user .box-container .box p {
    font-size: 1.5rem;
    line-height: 2;
    color: var(--black);
    text-transform: none;
}

/* Services-user ends here */

/* Courses starts here */

.courses .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
}

.courses .box-container .box .image {
    height: 25rem;
    overflow: hidden;
    position: relative;
}

.courses .box-container .box .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.courses .box-container .box:hover .image img {
    transform: scale(1.1);
}

.courses .box-container .box .image h3 {
    font-size: 1.5rem;
    color: var(--black);
    position: absolute;
    top: 1rem; left: 1rem;
    padding: .5rem 1.5rem;
    background: var(--light-green);
}

.courses .box-container .box .content {
    padding: 2rem;
    position: relative;
    border: 0.1rem solid var(--main-color1);
    text-transform: none;
}

.courses .box-container .box .content a {
    position: absolute;
    background: var(--main-color2);
    color: var(--white);
    top: 2.5rem; right: 1.5rem;
    width: 12rem;
    height: 4rem;
    text-align: center;
    font-size: 1.4rem;
    border-radius: 20px;
    text-transform: none;
}

.courses .box-container .box .content a:hover {
    background: var(--main-color1);
}

.courses .box-container .box .content p {
    font-size: 1.4rem;
    color: var(--black);
    line-height: 2;
    text-transform: none;
}

.courses .box-container .box .content h5 {
    font-size: 1.4rem;
    color: var(--black);
    line-height: 2;
    text-transform: none;
}


.courses .box-container .box .content h3 {
    font-size: 2rem;
    text-transform: none;
}

.courses .box-container .box .content .stars {
    margin-top: 1rem;
}

.courses .box-container .box .content .stars i {
    font-size: 1.7rem;
    color: var(--main-color1);
}

.courses .box-container .box .content .stars span {
    font-size: 1.4rem;
    color: #777;
    margin-left: .5rem;
}

.courses .box-container .box .content .icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    padding-top: 2rem;
    border-top: 0.1rem solid var(--main-color1);
}

.courses .box-container .box .content .icons span {
    font-size: 1.5rem;
    color: var(--black);
    text-transform: none;
}

.courses .box-container .box .content .icons span i {
    color: var(--main-color1);
    padding-right: .5rem;
}

/* Novo botão "Quero esse" */
.courses .box-container .box .content .btn-quero {
  top: 7rem; /* posiciona logo abaixo do botão "Detalhes" */
  right: 1.5rem;
  background: var(--green);
}

.courses .box-container .box .content .btn-quero:hover {
  background: var(--green);
}




/* Courses ends here */

/* POP-UP starts here */

.popup {
    display: none; 
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6); 
    justify-content: center;
    align-items: center;
  }
  
.popup-content {
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    width: 90%;
    max-width: 500px;
    text-align: center;
    position: relative;
    animation: fadeIn 0.3s ease-in-out;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
    max-height: 80vh;       
    overflow-y: auto;        
    overscroll-behavior: contain; 
  }


  .popup-content h2 {
    margin-bottom: 1rem;
    font-size: 1.8rem;
    color: #333;
    text-transform: uppercase;
  }
  
  .popup-content p {
    font-size: 1.4rem;
    color: #555;
    line-height: 1.5;
    text-transform: initial;
    text-align: center;
  }

  .popup-content .icons {
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-top: 2rem;
    border-top: 0.1rem solid var(--main-color1);
  }
  
  .popup-content span {
    font-size: 1.5rem;
    color: var(--black);
    text-transform: none;
  }
  
  .popup-content span i {
    color: var(--main-color1);
    padding-right: .5rem;
  }


  .popup-content .details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
  }
  
  .popup-content .details span {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    font-size: 1.4rem;
    color: #555;
    text-align: center;
  }
  
  .popup-content .details i {
    font-size: 1.4rem;
    color: var(--main-color1);
    line-height: 1;
  }
  
  .popup-content .btn {
    margin-top: 2.5rem;
    margin-bottom: 1rem;
  }

  /* Animação de entrada */

  @keyframes fadeIn {
    from {
      transform: scale(0.9);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  /* Botão de fechar */

  .popup .close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 2rem;
    color: #333;
    cursor: pointer;
    font-weight: bold;
    transition: color 0.2s ease-in-out;
  }
  
  .popup .close:hover {
    color: #ff5050;
  }
  

/* POP-UP ends here */


/* Reviews starts here */

.swiper {
    padding: 1.1rem;
}


.review .slide {
    padding: 1.5rem;
    box-shadow: var(--box-shadow);
    border: 0.1rem solid rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    position: relative;
}

.review .slide p {
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: .5rem;
    line-height: 1.8;
    color: var(--black);
}
    
.review .slide .wrapper {
    display: flex;
    justify-content: center;
    gap: 1.3rem;
}

.review .slide .wrapper .separator {
    width: .8rem;
    height: .8rem;
    border: .1rem solid var(--main-color1);
    transform: rotate(45deg);
    animation: rotate360 15s linear infinite;
}

@keyframes rotate360{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(1turn);
    }
  }

.review .slide .fa-quote-right {
    position: absolute;
    bottom: 3rem; right: 3rem;
    font-size: 6rem;
    color: var(--main-color2);
}

.review .slide .user {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem 1.5rem;
    border-radius: .5rem;
}

.review .slide .user img {
    height: 7rem;
    width: 7rem;
    border-radius: 15%;
    object-fit: cover;
    border: .1rem solid var(--main-color1);
    padding: .5rem;
}

.review .slide .user h3 {
    font-size: 2rem;
    color: var(--black);
    padding-bottom: .5rem;
}

.review .slide .user .stars i {
    font-size: 1.3rem;
    color: var(--main-color1);
}


/* Reviews ends here */


/* Blog starts here */

.blog .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-template: 1.5rem;
    gap: 20px;
}

.blog .box-container .box {
    box-shadow: var(--box-shadow);
    border-radius: 2rem;   
}

.blog .box-container .box .image {
    height: 25rem;
    width: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 2rem 2rem 0 0;
}

.blog .box-container .box .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.blog .box-container .box:hover .image img {
    transform: scale(1.1);
}

.blog .box-container .box .image h3 {
    font-size: 1.5rem;
    color: var(--black);
    position: absolute;
    top: 1.5rem; left: 1rem;
    padding: .5rem 1.5rem;
    background: var(--white);
    border-radius: 2rem 0 2rem 0;
}

.blog .box-container .box .content {
    padding: 2rem 2rem;
    background: var(--light-green);
    border-radius: 0 0 2rem 2rem;
}

.blog .box-container .box .content .icons {
    margin-bottom: 1rem;
    align-items: center;
}

.blog .box-container .box .content .icons a {
    font-size: 1.4rem;
    color: var(--main-color1);
}

.blog .box-container .box .content .icons a i {
    padding-right: .5rem;
}

.blog .box-container .box .content h3 {
    font-size: 2.2rem;
    color: var(--black);
}

.blog .box-container .box .content p {
    font-size: 1.5rem;
    color: var(--black);
    line-height: 2;
    padding: 1rem 0;
}


/* Blog ends here */

/* Contact starts here */


.contact .row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
}

.contact .row .image {
    flex: 1 1 40rem;
}

.contact .row .image img {
    width: 100%;
}

.contact .row form {
    flex: 1 1 40rem;
    border: 0.1rem solid var(--main-color1);
    padding: 2rem;
}

.contact .row form h3 {
    font-size: 2.5rem;
    color: var(--black);
    padding-bottom: 1rem;
    text-transform: none;
}

.contact .row form .box {
    width: 100%;
    font-size: 1.6rem;
    padding: 1.2rem 1.4rem;
    border: .1rem solid var(--main-color1);
    margin: .7rem 0;
}

.contact .row form .box:focus {
    color: var(--main-color1);
}

.contact .row form textarea {
    height: 15rem;
    resize: none;
}

/* Contact ends here */


/* Footer starts here */

.footer {
    background: var(--light-green);
    text-align: center;
    margin-top: 50px;
}

.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
}

.footer .box-container .box h3 {
    font-size: 2.2rem;
    color: var(--main-color1);
    padding: 1rem 0;
    text-transform: none;
}

.footer .box-container .box p {
    font-size: 1.2rem;
    color: var(--main-color2);
    line-height: 2;
    padding: 1rem 0;
    text-transform: none;
}

.footer .box-container .box .share {
    margin-top: 1rem;
}

.footer .box-container .box .share a {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: 10%;
    font-size: 1.7rem;
    border: .1rem solid var(--main-color2);
    color: var(--main-color2);
    margin-right: .3rem;
    text-align: center;
}

.footer .box-container .box .share a:hover {
    background: var(--main-color2);
    color: var(--white);
}

.footer .box-container .box .link {
    font-size: 1.7rem;
    line-height: 2;
    color: var(--black);
    padding: .5rem 0;
    display: block;
    text-transform: lowercase;
}

.footer .box-container .box .link:hover {
    color: var(--main-color2);
    text-decoration: underline;
}

.footer .credit {
    font-size: 1rem;
    margin-top: 3rem;
    padding-top: 3rem;
    text-align: center;
    color: var(--black);
    border-top: .1rem solid var(--main-color1);
}

/* Footer ends here */


/* WhatsApp btn */

.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    background-color: var(--main-color1);
    border-radius: 50%;
    padding: 14px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .whatsapp-button:hover {
    transform: scale(1.1);
  }
  
  .whatsapp-button img {
    width: 32px;
    height: 32px;
  }


  /* Responsive | media queries */
    
  @media (max-width: 600px) {

    .whatsapp-button {
      bottom: 15px;
      right: 15px;
      padding: 12px;
    }
  
    .whatsapp-button img {
      width: 28px;
      height: 28px;
    }
  }

  @media (max-width: 991px) {
    
    html {
        font-size: 55%;
    }

    .header {
        padding: 2rem 4rem;
    }

    section {
        padding: 3rem 2rem;
    }
  }

  @media (max-width: 768px) {
    #menu-btn {
        display: inline-block;
        font-size: 2.5rem;
        cursor: pointer;
    }

    .header .navbar {
        position: absolute;
        top: 115%;
        right: -110%;
        width: 30rem;
        background: #fff;
        border-radius: .5rem;
        z-index: 1000;
        transition: right 0.3s ease-in-out;
    }

    .header .navbar.active {
        right: 2rem;
    }

    .header .navbar a {
        display: block;
        padding: 1.2rem 2rem;
        font-size: 1.8rem;
        color: #333;
        text-decoration: none;
    }

    .icons {
        display: flex;
        align-items: center;
        gap: 1.5rem;
    }

    .about .container .about-content {
        padding-left: 0%;
    }
}

    @media (max-width: 450px) {
        html {
            font-size: 50%;
        }

    }